<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashbord-upload-files</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../static/js/jquery-3.2.1.min.js" ></script>

    <style>
      body{
        background-color: #EADBC4;
      }
      .middle{
        height: 500px;
        padding-top: 200px;
        margin: auto auto;
        text-align: center;
      }
      .empty-head{
        height: 200px;
      }
    </style>
  </head>
  <body>
    <div class="empty-head"></div>
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-one-third is-offset-one-third box">
          <div class="middle">
            <form action="" method="post" enctype="multipart/form-data">
                <input class="button is-halfwidth" type="file" name="upfile"><br>
                <div style="padding-top:20px"></div>
                <input type="submit" class="button is-primary" value="Upload">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </body>
</html>
